*{ box-sizing:border-box; font-family: Arial, sans-serif; }
body{ margin:0; background:#f2f4f7; min-height:100vh; padding:20px; }

.containter{
  display: flex;
 align-items: center;
 justify-content: center;

}

h1 {
  text-align: center;
  font-size: 2.5rem;       
  font-weight: 700;        
  margin-top: 2rem;
  margin-bottom: 5rem;
  letter-spacing: 1px;    
  color: #222;           
  font-family: "Poppins", sans-serif;
}

/* left panel */
.background{
  min-height:260px;
  width:400px;
  border-radius:12px;
  padding:18px;
  transition: background-color .3s ease, color .3s ease;
  box-shadow: 10px 20px 18px rgba(0,0,0,0.06);
}
.cont2{
   display: flex;
 align-items: center;
 justify-content: center;
  gap: 30px;     
}
/* right panel */
.box{
  width:400px;
  min-height:260px;
  border-radius:12px;
  overflow:hidden;
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:flex-end;
  padding:14px;
  color:#fff;
    box-shadow: 10px 20px 18px rgba(0,0,0,0.06);
}

/* button row */
.button{ grid-column:1 / -1; 
  display:flex; 
  justify-content:center; 
  margin-top:3.5em; 
}
.btn{ padding:10px 16px; border-radius:8px; border:0; cursor:pointer; background:crimson; color:#fff; font-weight:600; height:3rem; width: 8rem;
font-size: 1.2rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 300;
}

.btn:active {
  transform: translateY(4px);   /* button goes down */
  box-shadow: 0 1px 0 #335cba;  /* shadow becomes smaller */
}

@media (max-width:800px){
  .container{ grid-template-columns: 1fr; }
}
