* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
.wrapper{
     height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        gap: 25px;
}
.box{
    background-color: rgb(20,110,90);
      height: 400px;
    width: 400px;
    border: 6px solid  white;
    border-radius: 10px;


}
.btn {
  padding: 12px 24px;
  background-color: rgb(89,40,100);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
 
  transform: translateY(-2px);
}

.btn:active {
  transform: scale(0.97);
}
