* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main p {
  color: #00ff41; /* matrix green */
  font-size: 3rem;
  font-family: monospace;
  font-weight: 900;
  cursor: pointer;

}