* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  /* box-shadow text-shadow  ------> box */
.box{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    /* inset---> ka use krke shadow box ke andar banegi */
    background: grey;
    box-shadow: inset 0px 0px 90px green ;
}
.box h1{
    color:  white;
    font-family: monospace;
    text-shadow: 5px 5px 50px rgba(152, 84, 12, 0);

}


       /* conic-gradient----->box2 */
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: conic-gradient(white , black);

}
.box2 h1{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}


            /* keyframes---->box3 */
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
     animation: changeBg 5s infinite forwards alternate;
     /* forwards means animation discard nhi hogi ui me  rhegi present */
}
.box3 h1{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;

}

@keyframes changeBg {

    from{
         background-color: antiquewhite;
         border-radius: 0px;
    }
    to{
                 background-color: red;
                 border-radius: 50px;
    }
    
}