* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --rotate {
/* deg me animation apply krahe hai tab angle likha style me */
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

 /* Hum na conic-gradient ko border area tak animate
  kar rhe hai start me 0deg and full 360 deg rotate ho 
  rha hai usse hi effect arha hai */

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.box {
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;

    /* initial me box-shadow */
    box-shadow: 0 0 0px rgb(255, 0, 123); 
    
    background:
        linear-gradient(black) padding-box ,
        conic-gradient(from var(--rotate), black, rgb(255, 0, 195), black) border-box;

       /* border es color ka islie hai kyuki transition visible hi es color me hoga*  */ 
    border: 0px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 5s;
    /* animation kitne baar chalega---> animation-iteration-count*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;

   /* bloom affect */
    text-shadow: 0 0 0px rgb(255, 0, 123);
}

.box:hover{
    cursor: pointer;
  animation-play-state: running;
    border-width: 6px;
    /* glow effect */
    box-shadow: 0 0 50px rgb(255, 0, 195); 
    color:rgb(255,0,125);

    /* bloom effect */
    text-shadow: 0 0 10px rgb(255, 0, 123);
}
.box img {
    width: 100%;
}
